In [1]:
import pandas as pd
import numpy as np
from math import sqrt
from scipy import stats 
import matplotlib.pyplot as plt
from scipy.stats import pearsonr
import statsmodels.api as sm 
import seaborn as sns
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler as mms
from sklearn import datasets,linear_model,metrics
from sklearn.metrics import mean_squared_error,confusion_matrix,accuracy_score,classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDRegressor
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor 
from sklearn.datasets import make_classification
from sklearn.datasets import make_hastie_10_2
from sklearn.ensemble import GradientBoostingClassifier,AdaBoostClassifier,RandomForestClassifier
from sklearn.datasets import make_regression
from sklearn.ensemble import GradientBoostingRegressor,AdaBoostRegressor,RandomForestRegressor
from sklearn.decomposition import PCA

In [2]:
data=pd.read_csv(r"C:\Users\sudarson.SUDARSON\Desktop\Imarticus\5 Linear SGD\VehiclePerformancePrediction\Vehicle Performance Prediction\Dataset\data.csv")
data

,origin,cylinders,displacement,horsepower,weight,acceleration,year,name,Kilometer_per_liter
0,1,8,307.0,130,3504,12.0,1970,chevrolet chevelle malibu,7.652587
1,1,8,350.0,165,3693,11.5,1970,buick skylark 320,6.377156
2,1,8,318.0,150,3436,11.0,1970,plymouth satellite,7.652587
3,1,8,304.0,150,3433,12.0,1970,amc rebel sst,6.802299
4,1,8,302.0,140,3449,10.5,1970,ford torino,7.227443
...,...,...,...,...,...,...,...,...,...
393,1,4,140.0,86,2790,15.6,1982,ford mustang gl,11.478880
394,2,4,97.0,52,2130,24.6,1982,vw pickup,18.706323
395,1,4,135.0,84,2295,11.6,1982,dodge rampage,13.604599
396,1,4,120.0,79,2625,18.6,1982,ford ranger,11.904024
397,1,4,119.0,82,2720,19.4,1982,chevy s-10,13.179455

In [3]:
data.isnull().sum()

origin                 0
cylinders              0
displacement           0
horsepower             0
weight                 0
acceleration           0
year                   0
name                   0
Kilometer_per_liter    0
dtype: int64

In [4]:
data=data.drop("name",axis=1)

In [5]:
data.describe()

,origin,cylinders,displacement,weight,acceleration,year,Kilometer_per_liter
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,1.572864,5.454774,193.425879,2970.424623,15.568090,1976.010050,9.997073
std,0.802055,1.701004,104.269838,846.841774,2.757689,3.697627,3.322917
min,1.000000,3.000000,68.000000,1613.000000,8.000000,1970.000000,3.826293
25%,1.000000,4.000000,104.250000,2223.750000,13.825000,1973.000000,7.440015
50%,1.000000,4.000000,148.500000,2803.500000,15.500000,1976.000000,9.778305
75%,2.000000,8.000000,262.000000,3608.000000,17.175000,1979.000000,12.329168
max,3.000000,8.000000,455.000000,5140.000000,24.800000,1982.000000,19.811697

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   origin               398 non-null    int64
 1   cylinders            398 non-null    int64
 2   displacement         398 non-null    float64
 3   horsepower           398 non-null    object
 4   weight               398 non-null    int64
 5   acceleration         398 non-null    float64
 6   year                 398 non-null    int64
 7   Kilometer_per_liter  398 non-null    float64
dtypes: float64(3), int64(4), object(1)
memory usage: 25.0+ KB

In [7]:
data.horsepower.unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [8]:
data.drop(data[data.horsepower=="?"].index, axis = 0, inplace = True)
data.horsepower.unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [9]:
data.horsepower = data.horsepower.astype('int64')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   origin               392 non-null    int64
 1   cylinders            392 non-null    int64
 2   displacement         392 non-null    float64
 3   horsepower           392 non-null    int64
 4   weight               392 non-null    int64
 5   acceleration         392 non-null    float64
 6   year                 392 non-null    int64
 7   Kilometer_per_liter  392 non-null    float64
dtypes: float64(3), int64(5)
memory usage: 27.6 KB

In [11]:

x = data.drop(["Kilometer_per_liter"], axis = 1)
x= mms().fit(x).transform(x)
y = data['Kilometer_per_liter']
trainx,testx,trainy,testy = train_test_split(x,y,test_size = 0.2)

# vehicle performance prediction

In [14]:
sgd=SGDRegressor().fit(trainx,trainy)
pred=sgd.predict(testx)
pred

array([ 8.56102315, 14.21335613, 10.47067701,  5.22715127,  5.25082401,
        9.89911186,  7.62222566, 11.47161299, 11.49617228,  9.39576548,
       12.25285116,  6.01336561, 15.02565765, 11.96928026, 13.23241074,
       10.24064255, 11.4140505 ,  5.79646937,  9.75445453, 12.46915015,
       11.41481311,  8.34760672,  7.63338804,  8.73615605,  9.57603307,
        8.97033705,  4.33839178, 10.88375446,  8.39983469,  8.48687311,
        8.78169604,  5.3485568 ,  5.25737683,  7.38979064,  8.77877227,
       12.88541557, 11.70054097,  5.99032591,  9.90606097, 12.02382246,
       13.02613027,  6.32718448, 10.15105619,  7.26086992,  8.6825585 ,
       14.63390914,  8.86137733, 14.76001727,  9.77412668, 10.12328939,
       12.75979085,  5.58891858, 10.8659421 ,  3.86873488,  5.52018921,
       11.16744831,  9.33472101, 13.83629306, 11.3146553 ,  8.26917342,
        8.03281335, 11.52910181,  5.16637619, 12.30745019, 10.32663615,
       13.51258426,  4.82047978, 12.05292654,  4.22433744,  9.4485624 ,
       13.38656183, 10.73117803, 11.71812134, 12.97418123,  8.68030182,
       13.05805745,  7.88078838,  8.38164648,  6.2934409 ])

# vehicle performance prediction score

In [13]:
sgd.score(testx,testy)

0.8137001555720959